@import url('https://fonts.googleapis.com/css?family=Bitter:700|Exo+2:600');
@import url('font-awesome.css');

body {
	background-image: url("images/overlay.png"), url("images/bg.jpg");
	background-repeat: repeat, no-repeat;
	background-size: auto, 100% 100%;
	font-family: Arial, Helvetica,'Microsoft YaHei', sans-serif;
    color:#222;
}

header {
    font-family: Arial, Helvetica,'Microsoft YaHei', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    display: inline-block;
    color: #000000;
	margin-bottom: 0em;
	padding-bottom: 0em;
}

section, article {
	margin-bottom: 3em;
}

	section > :last-child, section:last-child, article > :last-child, article:last-child {
		margin-bottom: 0;
	}


.icon {
	position: relative;
	text-decoration: none;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon > .label {
	display: none;
}

.video-container {
 position: relative;
 padding-bottom: 56.25%;
 padding-top: 30px;
 height: 0;
 overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
 position: absolute;
 top: 0;
 left:0;
 width: 100%;
 height: 100%;
}

/* Email */
.hide { display: none; }
.mock { }
.unselectable { /* http://stackoverflow.com/questions/2310734/how-to-make-html-text-unselectable */
 	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	-o-user-select: none;
    user-select: none;
}

#nav a {
	position: relative;
	display: inline-block;
	color: #ffffff;
	width: 1em;
	height: 1em;
	line-height: 0.9em;
	text-decoration:none;
}

#nav a.icon:before {
	padding-right: 0;
}

#main {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
#main a{color:#488AC7;text-decoration:none}
#main a:hover,a:focus{color:#165895;text-decoration:underline;}
#main a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}

/* Footer */
#footer {
	color: rgba(255, 255, 255, 0.45);
}

#footer .copyright li {
	display: inline-block;
}

#footer .copyright li:before {
	display: inline;
	content: '\2022';
	opacity: 0.5;
	padding: 0 0 0 0;
}

#footer .copyright li:first-child:before {
	display: none;
}

/* Desktop */
@media screen and (min-width: 737px) {
    html{
        width: auto;
        height: auto;
    }

	body {
        width: auto;
		overflow-y: scroll;
		background-attachment: fixed;
	}

    .panel {
        padding: 0.5em 1em;
        position: relative;
        border-radius: 10px;
	}
    .shadow {
        position: relative;
        box-shadow: 0px 15px 20px -15px rgba(0,0,0,0.7);
    }
	
	.image_carousel img {
		box-shadow: 0px 0px 10px 3px #ccc;
		-webkit-box-shadow: 0px 0px 10px 3px #ccc;
		-moz-box-shadow: 0px 0px 10px 3px #ccc;
	}
    .image_tsinghua_logo {
        display:inline-block;
        position:absolute;
        left:81%;
        width:8%
    }
    .image_seu_logo {
        display:inline-block;
        position:absolute;
        left:91%;
        width:8%
    }
    .image_msra_logo {
        display:inline-block;
        position:absolute;
        left:82%;
        top:4.3em;
        width:16%
    }

	#wrapper {
		width: 43em;
		margin: 0 auto;
		opacity: 0.00001;
	}

	#nav {
		text-align: center;
		height: 4.05em;
		cursor: default;
		margin: 2.8em 0 0 0;
	}

		#nav a {
			font-size: 2.5em;
			margin: 0 0.25em 0 0.25em;
			opacity: 0.35;
			outline: 0;
			-moz-transition: opacity .25s ease-in-out;
			-webkit-transition: opacity .25s ease-in-out;
			-ms-transition: opacity .25s ease-in-out;
			transition: opacity .25s ease-in-out;
		}

			#nav a:before {
				font-size: 0.8em;
			}

			#nav a:after {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				bottom: -0.7em;
				margin-left: -0.5em;
				border-bottom: solid 0em #ffffff;
				border-left: solid 0.5em transparent;
				border-right: solid 0.5em transparent;
				-moz-transition: border-bottom-width .25s ease-in-out;
				-webkit-transition: border-bottom-width .25s ease-in-out;
				-ms-transition: border-bottom-width .25s ease-in-out;
				transition: border-bottom-width .25s ease-in-out;
			}

			#nav a span {
				display: block;
				position: absolute;
				background: #222222;
				color: rgb(255, 226, 0);
				top: -2.75em;
				font-size: 0.3em;
				height: 2em;
				line-height: 2em;
                text-align:center;
                border-radius: 5px;
				left: 50%;
				opacity: 0.00001;
				-moz-transition: opacity .25s ease-in-out;
				-webkit-transition: opacity .25s ease-in-out;
				-ms-transition: opacity .25s ease-in-out;
				transition: opacity .25s ease-in-out;
				width: 7em;
				margin-left: -3.5em;
			}

				#nav a span:after {
					content: '';
					display: block;
					position: absolute;
					bottom: -0.5em;
					left: 50%;
					margin-left: -0.5em;
					border-top: solid 0.6em #222222;
					border-left: solid 0.6em transparent;
					border-right: solid 0.6em transparent;
				}

			#nav a:hover {
				opacity: 1.0;
			}

				#nav a:hover span {
					opacity: 1.0;
				}

			#nav a.active {
				opacity: 1.0;
			}

				#nav a.active:after {
					border-bottom-width: 0.5em;
				}

	#main {
		width: 43em;
		background: #ffffff;
	}

	#footer {
		text-align: center;
		padding: 0.5em 0 0 0;
		font-size: 0.7em;
	}
}

/* Mobile */
@media screen and (max-width: 736px) {

	body {
		font-size: 11pt;
		line-height: 1.75em;
	}

	#wrapper {
		padding: 7px;
	}

	#nav {
		text-align: center;
		margin: 1.5em 0 0 0;
	}

		#nav a {
			font-size: 1.5em;
			opacity: 0.5;
			outline: 0;
			width: 1.5em;
			height: 1.5em;
			line-height: 1.35em;
			margin: 0 0.25em 0 0.25em;
		}

			#nav a:active {
				opacity: 1.0;
			}

			#nav a span {
				display: none;
			}

	#main {
		background: none;
	}

	.panel {
		padding: 0.5em 1em;
        background: #ffffff;
        border-radius: 10px;
	}
	
	.image_carousel img {
		box-shadow: 0px 0px 5px 1px #ccc;
		-webkit-box-shadow: 0px 0px 5px 1px #ccc;
		-moz-box-shadow: 0px 0px 5px 1px #ccc;
	}
    .mobilehide {
        display:none;
    }

	#footer {
		text-align: center;
		padding: 0 0 0 0;
		font-size: 0.5em;
	}

		#footer .copyright li {
			display: block;
		}

			#footer .copyright li:before {
				display: none;
			}
}